:root {
    --background-dark: 
}
/* SIMPLE CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 50px;
    background-image: url(./assets/taj-mahal1.png);
    background-position: center;
}

/*COMPONENTS*/
.button-outline-white {
    color: whitesmoke;
    background: red;
    border: 2px solid whitesmoke;
    font-size: 20px;
    padding: 14px;
    margin: 10px;
    border-radius: 35px;
    cursor: pointer;
}
.button-outline-white:hover {
    background-color: grey;
    color: black;
}

/*TOP HEADER MENU */
img {
    width: 120px;
    height: 120px;
    display: block;
}
.main-menu-container {
    background-color: rgba(49, 63, 67, 0.966);
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0.9;
}
.main-menu {
    margin: 0 auto;
    max-width: 800px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    color: black;
    line-height: 50px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.menu-item {
    cursor: pointer;
    opacity: 1;
    color: black;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu-item:hover {
    color: lightpink;
    opacity: 0.8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: color 0,3s cubic-bezier(0.25, 0.1, 0.25, 1);;
}
/*Carousel*/
.carousel-item {
    background: lightgrey;
    background-position: center;
    height: 50vh;
    width: 100vh
}
.fixed-width {
    height: 50vh;
    width: 190vh;
    align-items: center;
   }
/* MAIN BANNER */
.main-banner {
    height: 100vh;
    min-height: 800px;
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title {
    padding-top: 100px;
    font-size: 65px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 6px rgb(89, 213, 48);
    font-family: 'Libre Baskerville', serif;
    color: #DD1C1A;
}

/*MAIN COMPONENTS*/
section.Menu {
    width: 50vh;
    height: 260px;
    margin: 0 auto 5px;
    padding: 5px 0;
    position: relative;
    right: -330px;
    color: rgb(0,0,0);
    font-weight: 400;
    font-family: Helvetica;
}
    section.Menu h2 {
        font-family: Georgia;
        font-weight: bold;
        font-size: 60px;
        color:rgb(21, 51, 114);
        text-align: center;
    }
    section.Menu p {
        position: relative;
        right: -50px;
        font-size: 25px;
    }
    * {
        box-sizing: border-box;
    }
    .img-container {
        float: left;
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    .clarfix::after {
        content: "";
        clear: both;
        display: flex;
    }
    .button-menu {
    color: whitesmoke;
    background: rgb(182, 111, 83);
    border: 1px solid whitesmoke;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    left: 300px;
    border-radius: 30px;
    cursor: pointer;
    float: right;
    }
    .button-menu:hover {
        background-color: grey;
        color: black;
    }
    