/* SIMPLE CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./assets/taj-mahal1.png);
    background-position: center;
}

/*TOP HEADER MENU FOR ALL pages*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body  {
    font-family: sans-serif;
}
nav {
    background: rgb(119, 9, 9);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer; }


/*Carousel for index.html*/
.carousel-item {
    background-position: center;
    height: 50vh;
    width: 205vh;
}
.fixed-width d-block w-100 {
    height: 100vh;
    width: 205vh;
    align-items: center;
   }

/*COMPONENTS IN CAROUSEL*/
.banner-title {
    padding-top: -50px;
    font-size: 55px;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 6px rgb(117, 88, 124);
    font-family: 'Libre Baskerville', serif;
    color: rgb(248, 248, 248);
    text-align: left;
    position: relative;
    top: -5vh;
}
.carousel-caption .banner-p {
    font-family: verdana;
    font-weight: bold;
    font-size: 35px;
    color: rgb(228, 94, 10);
    position: relative;
    top: -5vh;
    text-align: left;
}
.button-outline-white {
    color: rgb(240, 238, 238);
    background: rgb(230, 21, 21);
    border: 2px solid rgb(82, 45, 45);
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
    left: -45vh;
    top: 0.5vh;
}
.button-outline-white:hover {
    background-color: grey;
    color: black;
}

/*CSS for Main component from index.html PAGE*/
    .box {
        padding-top: -200px;
        bottom: 5%;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
    .box .content {
        padding-left: 30px;
    }
    .container_image {
        border-radius: 20px;
        margin: 10px;
        position: relative;
        bottom: -40vh;
        padding-top: -5px;
        width: 350px;
    }
    .box .content h2 {
        margin: 0;
        padding-left: 0;
        color: #ff005c;
        font-size: 70px;
        position: relative;
        bottom: -45vh;
        text-align: center;
    }
    .box .content p {
        margin: 10px;
        padding: 10px 10px 10px;
        font-family: helvetica;
        font-size: 20px;
        text-align: justify;
        justify-content: space-around;
        position: relative;
        bottom: -45vh;
        font-weight: 800;
    }
    .button-menu {
        color: rgb(251, 250, 252);
        background: rgb(126, 216, 171);
        border: 1px solid whitesmoke;
        font-size: 35px;
        padding: 30px;
        margin: 30px;
        left: 300px;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        bottom: -45vh;
        }
    .button-menu:hover {
        background-color: grey;
        color: black;
    }

/*CSS FOR menu.html page*/
.class-for-menu {
    margin-top: 1px;
}
.img-menu-container {
    width: 120vh;
    height: 100%;
    display: inline-block;
    clear: both;
    align-items: center;
}
.column {
    float: right;
    width: 33%;
    padding: 1px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.wrap-menu {
	display: table;
	width: 980px;
	max-width: 440px; }
.category-item {
	width: 80vh;
	margin: 0 auto;
	text-align: center;
    font-family: helvetica;;
	font-size: 35px;
	color:#851315;
    display: inline-block; }
.ic-cate {
	display: inline-block;
	width: 235px;
	height: 27px; }
.row-menu-wrap {
	margin-bottom: 35px; }
.row-menu {
	display: flex; }
.item-menu {
	display: flex;
	width: 90%;
	font-size: 19px;
	font-family: helvetica;
    font-weight: bold;
	color:#211870; }
.item-prise {
	display: flex;
	font-size: 21px;
	font-family: 'sans-serif';
	color:#050505; }

.gold-line {
    display: inline-block;
	width: 100%;
	height: 1px;
	margin-bottom: 8px;
    background-color:#ce1a02;
	}
    .item-descr{
		font-size: 16px;
		font-family: helvetica;
        color:rgb(8, 8, 8);
	}
.go-top{
        position: fixed;
        bottom: 20px;
        right: 5;
        z-index: 5;
      color:#F89F6F;
}
.go-top:hover{
        color:#F89F9F;	
}
/*RESERVATION PAGE*/ 
* {
    margin: 0;
    padding: 0;
}
.class-for-reservation {
    background-color: royalblue;
    font-family: sans-serif;
}
.contact-box {
    width: 500px;
    background-color: rgb(240, 206, 206);
    box-shadow: 0 0 20px 0 #999;
    top: 440px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 25px;
}
.class-for-reserve {
    font-family: helvetica;
    color: red;
    font-size: 60px;
    font-weight: bold;
    text-align: center;  
}
form {
    margin: 35px;
}
.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid rgb(175, 84, 84);
    outline: none;
    border-radius: 30px;
}
.textarea-field {
    height: 150px;
    padding-top: 10px;
}
.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    padding: 15px;
    background-color: #a80b0b9a;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

/*Catering Page CSS*/
.catering-container {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    align-items: center;
}
.class-for-cater h1 {
    font-family: cursive;
    font-size: 90px;
    color: rgb(250, 250, 250);
    text-align: center;
    margin-top: -10%;
}
.class-for-cater h2 {
    font-family: helvetica;
    font-size: 50px;
    color: rgb(21, 20, 20);
    text-align: center;
}
.button-cater {
    color: rgb(15, 15, 15);
    background: rgb(201, 16, 16);
    border: 2px solid rgb(82, 45, 45);
    font-size: 20px;
    padding: 14px;
    margin: 10px;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
    right: -90vh;
}
.button-cater:hover {
    background-color: grey;
    color: black;
}

/*About page CSS*/
.class-for-about h2 {
    font-family: cursive;
    font-size: 100px;
    text-align: center;
    color:rgb(119, 9, 9);
    margin-top: 50px;
}
.class-for-about p {
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    color:rgb(201, 80, 80)
}
.about-footer {
    bottom: -90vh;
}

/*FOOTER*/
footer {
    color: #FFF;
    font-size: 16px;
    width: 100%;
    height: -4rem;
    bottom: 50%;
    margin-bottom: -200px;
    position: relative;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

.copyright-links-nav {
    display: flex;
    justify-content: center;
    bottom: -50vh;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
  }
  
  .footer-links__li {
    margin: 0 10px;
  }

  /*FOOTER FOR catering, contact, index NAV*/
.footer-for-cater  {
        color: #FFF;
        font-size: 16px;
        width: 100%;
        height: -4rem;
        position: relative;
        bottom: -80vh;
        padding-top: -50vh;
      }
.footer-for-contact {
    clear: both;
    position: absolute;
    margin-bottom: -80%;
    margin-top: -50%;
}
.footer-for-index {
    position: relative;
    bottom: -80vh;
    padding-top: -50vh;
}

/*MEDIA QUERIES FOR HAMBURGER MENU ON ALL PAGES*/
@media (max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    i {
        display: inline-block;
        padding: 12px;
    }
}

/*breakpoints for carousel in index.html*/
@media (max-width: 768px){
    .carousel-item {
        background-position: center;
        height: 40vh;
        width: 120vh;
    }
    .fixed-width d-block w-100 {
        height: 80vh;
        width: 205vh;
        align-items: center;
       }
    }
@media (max-width: 576px){
.carousel-item {
    background-position: center;
    height: 35vh;
    width: 90vh;
}
.fixed-width d-block w-100 {
    height: 100vh;
    width: 205vh;
    align-items: center;
   }
}


/*MEDIA QUERIES FOR MAIN PART OF INDEX.HTML*/
@media (max-width: 992px){
    .box {
        padding-top: -200px;
        bottom: 5%;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
    .box .content {
        padding-left: 30px;
    }
    .container_image {
        border-radius: 10px;
        margin: 10px;
        position: relative;
        bottom: -45vh;
        padding-bottom: -10px;
        width: 280px
    }
    .box .content h2 {
        margin: 0;
        padding-left: 0;
        color: #ff005c;
        font-size: 55px;
        position: relative;
        bottom: -47vh;
        text-align: center;
    }
    .box .content p {
        margin: 10px;
        padding: 10px 10px 10px;
        font-family: helvetica;
        font-size: 20px;
        text-align: justify;
        justify-content: space-around;
        position: relative;
        bottom: -47vh;
    }
    .button-menu {
        color: rgb(251, 250, 252);
        background: rgb(238, 91, 33);
        border: 1px solid whitesmoke;
        font-size: 20px;
        padding: 15px;
        margin: 15px;
        border-radius: 30px;
        cursor: pointer;
        left: -35vh;
        bottom: -45vh;
        left: 5vh;
        }
    .button-menu:hover {
        background-color: grey;
        color: black;
    }
}

@media (max-width: 768px){
    .box {
        padding-top: -200px;
        bottom: 5%;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
    .box .content {
        padding-left: 30px;
    }
    .container_image {
        border-radius: 10px;
        margin: 10px;
        position: relative;
        bottom: -49vh;
        padding-bottom: -10px;
        width: 280px
    }
    .box .content h2 {
        margin: 0;
        padding-left: 0;
        color: #ff005c;
        font-size: 50px;
        position: relative;
        bottom: -50vh;
        text-align: center;
    }
    .box .content p {
        margin: 10px;
        padding: 10px 10px 10px;
        font-family: helvetica;
        font-size: 20px;
        text-align: justify;
        justify-content: space-around;
        position: relative;
        bottom: -50vh;
    }
    .button-menu {
        color: rgb(251, 250, 252);
        background: rgb(238, 91, 33);
        border: 1px solid whitesmoke;
        font-size: 20px;
        padding: 15px;
        margin: 15px;
        border-radius: 30px;
        cursor: pointer;
        left: -35vh;
        bottom: -50vh;
        left: 15vh;
        }
    .button-menu:hover {
        background-color: grey;
        color: black;
    }
}

@media (max-width: 576px){
    .box {
        padding-top: -200px;
        bottom: 5%;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
    .box .content {
        padding-left: 30px;
    }
    .container_image {
        border-radius: 10px;
        margin: 10px;
        position: relative;
        bottom: -85vh;
        padding-bottom: -10px;
        width: 200px
    }
    .box .content h2 {
        margin: 0;
        padding-left: 0;
        color: #ff005c;
        font-size: 50px;
        position: relative;
        bottom: -85vh;
        text-align: center;
    }
    .box .content p {
        margin: 10px;
        padding: 10px 10px 10px;
        font-family: helvetica;
        font-size: 20px;
        text-align: justify;
        justify-content: space-around;
        position: relative;
        bottom: -85vh;
    }
    .button-menu {
        color: rgb(203, 173, 233);
        background: rgb(126, 216, 171);
        border: 1px solid whitesmoke;
        font-size: 20px;
        padding: 15px;
        margin: 15px;
        border-radius: 30px;
        cursor: pointer;
        left: -35vh;
        bottom: -83vh;
        left: 5vh;
        }
    .button-menu:hover {
        background-color: grey;
        color: black;
    }
}

/*Breakpoints for menu.html*/
@media (max-width: 576px) {
    .img-menu-container {
        width: 90px;
        height: auto;
        display: inline-block;
        clear: both;
        align-items: center;
    }
}
.column {
    float: right;
    width: 33%;
    padding: 1px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.wrap-menu {
	display: table;
	width: 980px;
	max-width: 440px; }
.category-item {
	width: 80vh;
	margin: 0 auto;
	text-align: center;
    font-family: helvetica;;
	font-size: 35px;
	color:#851315;
    display: inline-block; }
.ic-cate {
	display: inline-block;
	width: 235px;
	height: 27px; }
.row-menu-wrap {
	margin-bottom: 35px; }
.row-menu {
	display: flex; }
.item-menu {
	display: flex;
	width: 60%;
	font-size: 19px;
	font-family: helvetica;
    font-weight: bold;
	color:#211870; }
.item-prise {
	display: flex;
	font-size: 20px;
	font-family: 'sans-serif';
	color:#050505; }

.gold-line {
    display: inline-block;
	width: 100%;
	height: 1px;
	margin-bottom: 8px;
    background-color:#ce1a02;
	}
    .item-descr{
		font-size: 13px;
		font-family: helvetica;
        color:rgb(8, 8, 8);
	}

/*breakpoints for reserve.html*/
@media (max-width: 576px) {
    .contact-box {
        width: 400px;
        background-color: rgb(240, 206, 206);
        box-shadow: 0 0 20px 0 #999;
        top: 420px;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 25px;
    }
    .input-field {
        width: 350px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 3px solid rgb(175, 84, 84);
        outline: none;
        border-radius: 10px;
    }
    .textarea-field {
        height: 150px;
        padding-top: 10px;
    }
    .btn {
        border-radius: 20px;
        color: #fff;
        margin-top: 15px;
        padding: 15px;
        background-color: #a80b0b9a;
        font-size: 20px;
        border: none;
        cursor: pointer;
    
    }    
}
@media (min-width: 768px) {
    .contact-box {
        width: 600px;
        background-color: rgb(240, 206, 206);
        box-shadow: 0 0 20px 0 #999;
        top: 450px;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 25px;
    }
    .input-field {
        width: 520px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 3px solid rgb(175, 84, 84);
        outline: none;
        border-radius: 10px;
    }
    .textarea-field {
        height: 150px;
        padding-top: 10px;
    }
    .btn {
        border-radius: 20px;
        color: #fff;
        margin-top: 15px;
        padding: 15px;
        background-color: #a80b0b9a;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }    
}
/*MEDIA QUESRIES FOR CATERING.HTML */
@media (max-width: 576px) {
    .catering-container {
        height: 50px;
        width: 50px;
        border-radius: 30px;
        align-items: center;
    }
    .puri-image {
        height: 165vh;
        width: 80vh;
    }
    .class-for-cater h1 {
        font-family: cursive;
        font-size: 90px;
        color: rgb(250, 250, 250);
        text-align: center;
        margin-top: -10%;
    }
    .class-for-cater h2 {
        font-family: helvetica;
        font-size: 50px;
        color: rgb(21, 20, 20);
        text-align: center;
    }
    .button-cater {
        color: rgb(253, 253, 253);
        background: rgb(151, 207, 158);
        border: 2px solid rgb(82, 45, 45);
        font-size: 20px;
        padding: 14px;
        margin: 10px;
        border-radius: 35px;
        cursor: pointer;
        position: relative;
        right: -20vh;
    }
    .button-cater:hover {
        background-color: grey;
        color: black;
    }
}
/*MEDIA QUERIES FOR ABOUT.HTML PAGE*/
@media (max-width: 992px) {
    footer {
        bottom: -50vh;
    }
}     
@media (max-width: 768px) {
    footer {
        bottom: -50vh;
    }
}     
@media (max-width: 576px) {
    .class-for-about h2 {
        font-family: cursive;
        font-size: 50px;
        text-align: center;
        color:rgb(119, 9, 9);
        margin-top: 50px;
    }
    .class-for-about p {
        font-family: helvetica;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        color:rgb(201, 80, 80);
        bottom: -90px;
    }
footer {
    bottom: -90px;
}
}